
@font-face {
    font-family: 'Babylon'; 
    src: url('fonts/Babylon.ttf'); 
    src: url('fonts/Babylon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Babylon';
}

body{
    background-color: ghostwhite;
}
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a{
    text-decoration: none;
}

#header #logo{
    margin: 0px auto;
    padding-top: 20px;
}

#header #logo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1{
    text-align: center;
    font-size: 40px;

}

#header a:hover{
    text-shadow: 0px 2px 1px  rgba(47, 56, 93, 0.564), 0px 0px 7px rgba(99, 189, 180, 0.564);
}

#header h1 a{
    color: rgb(22, 65, 98);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px rgba(47, 56, 93, 0.564);
    transition: all 300ms;
}



nav {
    width: 100%;
    background-color:  rgb(22, 46, 98);
    color: white;
    height: 40px;
    font-size: 16px;
    box-shadow: 0px 0px 2px  rgba(47, 56, 93, 0.564);
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 720px;
}

nav > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid rgb(53, 88, 104);
    transition: all 300ms;
}

nav > ul > li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:first-child{
    border-left: 1px solid rgb(53, 88, 104);
}

nav > ul > li:hover{
    background-color: rgba(83, 129, 198, 0.76);
    box-shadow: 0px 0px 4px rgb(22, 46, 98);
}