@import 'variables';

@mixin tealBorder($size){
    border: $size solid $border-color;
    border-radius: 10px;
    box-shadow: 0px 0px 4px lightseagreen;
}


.box{
    @include tealBorder(3px);
    width: 500px / 1920px * 100%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    h1{
        color: $font-secondary-color
    }
    p{
        font-size: 10px;
    }
    .date{
        font-size: 11px;
        background-color: #115262;
        width: 100%;
    }
}

%alert{
    border: 1px solid red;
    background-color: lightpink;
    color: red;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
}

.alert-warning{
    @extend %alert;
    background-color: wheat;
    color: orange;
    border-color: orange;
}


