@import 'variables';

@mixin tealBorder($size, $circle: false){
    border: $size solid $border-color;
    box-shadow: 0px 0px 4px lightseagreen;
    @if $circle{
        border-radius: 5px;
    } @else{
        border-radius: 0px;
    }
}


.box{
    @include tealBorder(3px);
    width: 500px / 1920px * 100%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    h1{
        color: $font-secondary-color
    }
    p{
        font-size: 10px;
    }
    .date{
        font-size: 11px;
        background-color: #115262;
        width: 100%;
    }
}

%alert{
    border: 1px solid red;
    background-color: lightpink;
    color: red;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
}

.alert-warning{
    @extend %alert;
    background-color: wheat;
    color: orange;
    border-color: orange;
}

.alert-teal{
    @extend %alert;
    @include tealBorder(5px, true);
    background-color: rgb(173, 226, 230);
    color: rgb(0, 97, 92);
}

$base-color: teal;

ul{
    list-style: none;
    padding: 0px;
}
@for $i from 1 through 6 {
  ul li:nth-child(#{$i}) {
    background-color: lighten($base-color, $i * 2%);
  }
}

