@media (max-width: 1250px) {
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    #banner h1{
        font-size: 32px;
        text-align: center;
        margin: 22px auto;
    }
    .card{
        width: 16%;
        margin: 1.8%;
    }
    .card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #articles{
        width: 64%;
    }
    footer .wrap > div {
        width: 25%;
        margin: 4%;
    }
    footer h5{
        font-size: 32px;
    }
}